body {
  overflow-x: hidden;
  overflow-y: hidden;
}

#root {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 0px;
  top: 0px;

  background: #d6c395;
}

.root-image {
  position: absolute;
  width: 1956px;
  height: 1307px;
  left: -7px;
  top: -134px;

  mix-blend-mode: multiply;
}

.card {
  position: absolute;
  width: 1044px;
  height: 487px;
  left: 178px;
  top: 340px;
}

.card-container {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(
    90deg,
    rgba(180, 165, 122, 0.3) 0%,
    rgba(214, 195, 149, 0.3) 100%
  );
  box-shadow: 1px 4px 15.6px -5px #574c31;
  backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 31px;
}

.card-text {
  position: absolute;
  left: 19.83%;
  right: 2.97%;
  top: 38.6%;
  bottom: 4.52%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;

  color: #23201a;
}

.card-line {
  position: absolute;
  left: 54.98%;
  right: 2.97%;
  top: 24.23%;
  bottom: 75.36%;

  background: linear-gradient(
    90deg,
    rgba(210, 143, 67, 0.5) 0%,
    rgba(80, 47, 10, 0.5) 100%
  );
}

.card-title {
  position: absolute;
  left: 13.79%;
  right: 45.4%;
  top: 11.15%;
  bottom: 63.04%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  text-align: justify;

  color: #23201a;
}

.card2 {
  position: absolute;
  width: 1044px;
  height: 487px;
  left: 178px;
  top: 866px;
}

.card-container2 {
  box-sizing: border-box;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(
    90deg,
    rgba(180, 165, 122, 0.3) 0%,
    rgba(214, 195, 149, 0.3) 100%
  );
  box-shadow: 1px 4px 15.6px -5px #574c31;
  backdrop-filter: blur(29px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 31px;
}

.card-text2 {
  position: absolute;
  left: 19.83%;
  right: 2.97%;
  top: 38.6%;
  bottom: 4.52%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;

  color: #23201a;
}

.card-title2 {
  position: absolute;
  left: 13.79%;
  right: 52.87%;
  top: 11.15%;
  bottom: 63.04%;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  text-align: justify;

  color: #23201a;
}

.card-line2 {
  position: absolute;
  left: 54.98%;
  right: 2.97%;
  top: 24.23%;
  bottom: 75.36%;

  background: linear-gradient(
    90deg,
    rgba(210, 143, 67, 0.5) 0%,
    rgba(80, 47, 10, 0.5) 100%
  );
}

.vertical {
  position: absolute;
  width: 10px;
  height: 532px;
  left: 1699px;
  top: 311px;
}

.vertical-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 1699px;
  top: 833px;

  background: #977240;
  border-radius: 5px;
}

.vertical-line {
  position: absolute;
  left: 88.85%;
  right: -11.72%;
  top: 28.8%;
  bottom: 71.02%;

  background: linear-gradient(
    90deg,
    rgba(210, 143, 67, 0.5) 0%,
    rgba(80, 47, 10, 0.5) 100%
  );
  transform: rotate(90deg);
}
